* {
    padding: 0;
    margin: 0;
}

.navpar1 {
    background-color: white;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    justify-content: space-around;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.nav2 ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav2 ul li {
    margin-left: 40px;

}

.nav2 ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.nav2 ul li a:hover {
    color: blue;
}

.nav3 i {
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    left: 200px;
}

.nav3 i:hover {
    color: blue;
}

.nav4 a {
    border: solid wheat 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.nav4 a:hover{
    background-color: blue;
    color: white;
}

.c1 {
    display: grid;
    grid-template-columns: 40% auto;
    height: 65.7vh;

}

.c1 .head1 {
    background-color: dodgerblue;
}

.c1 .head2 {
    background-color: whitesmoke;
}

.c1 .head1 img {
    height: 60%;
    width: 22%;
    position: absolute;
    left: 450px;
    top: 15.4%;
}

.c1 .head2 h2,
h3,
p,
button {
    position: relative;
    top: 30%;
    left: 20%;
    padding-bottom: 10px;

}
.head2 button[type="submit"]:hover{
    background-color: rgb(100, 187, 126);
    color: blue;
}

.c1 .head2 h2 {
    color: #888;
    font-size: 22px;
}

.c1 .head2 .pp1 {
    width: 30%;
    height: 2vh;
    font-size: 42px;
    font-weight: bolder;
}

.c1 .head2 .pp2 {
    width: 33%;
    margin-top: 100px;
    font-size: 12px;
    color: #888;
}

.c1 .head2 button {
    background-color: blue;
    padding: 13px 30px;
    color: white;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
}

.c2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 100px;
}

.d10 {
    margin-left: 110px;
    margin-bottom: 50px;
}

.d10 .pra1 {
    color: #888;
}

.d10 .pra2 {
    font-size: 32px;
    margin-left: 257qpx;
}

.d10 span {
    border-bottom: 1PX solid blue;
}

.c3 {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: auto;
}

.c3 div {
    height: 40vh;
}

.c3 div p {
    position: relative;
    top: 5%;
    left: 85px;
    color: #888;
}

.c3 div h3 {
    position: relative;
    top: 5%;
}

.c4 {
    background-image: url(../project/img/home/parallax-bg.png);
    height: 50vh;
    margin-top: 100px;
    margin-bottom: 100px;
}

.c4 .pra4 {
    font-size: 50px;
    font-weight: bolder;
}

.c4 .pra5 {
    font-size: 30px;
    margin-left: 100px;
}

.c4 .pra6 {
    color: #888;
    margin-left: 30px;
    font-size: 20px;
}

.c4 a {
    text-decoration: none;
    background-color: blue;
    padding: 17px 50px;
    border-radius: 30px;
    color: white;
    position: relative;
    top: 200px;
    left: 450px;
    border: none;
    font-size: 20px;
}
.c4 a:hover{
    background-color: rgb(100, 187, 126);
    color: blue;

}

.di {
    margin-bottom: 50px;
    margin-left: 120px;
    margin-top: 100px;
}

.di .di1 {
    color: #888;
}

.di .di2 {
    font-weight: bolder;
    font-size: 34px;
}

.di span {
    border-bottom: 1px solid blue;
}

.c5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    gap: 20px;
    margin: auto;
}

.c5 div {
    height: 80vh;
}

.c5 div p {
    position: relative;
    top: 1%;
    left: -1px;
}

.c5 div .ar1,
.ar3 {
    color: #888;
    line-height: 25px;
}

.c5 div .ar2 {
    font-weight: bolder;
    font-size: 18PX;
}

.c5 div a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.d123 {
    background-color: white;
    width: 60%;
    margin: auto;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    position: absolute;
    top: 440vh;
    left: 20%;
    height: 40vh;
    text-align: center;
}

.d123 input {
    margin-top: 170px;
    margin-right: 190px;
    width: 400px;
    border-radius: 40px;
    height: 5vh;
    border: none;
    border: 1px solid #888;
    padding-left: 20px;
}

.d123 input::placeholder {
    padding: 30px 0px;
}

.d123 button {
    background-color: blue;
    border-radius: 30px;
    border: none;
    padding: 15px 30px;
    position: absolute;
    top: 64%;
    left: 62%;
    color: white;
}
.d123 button:hover{
    background-color: rgb(100, 187, 126);
    color: blue;

}

.d123 .d1234 {
    font-weight: bolder;
    font-size: 30px;
    margin-right: 450px;
}

.d123 .d12345 {
    color: #888;
    margin-right: 450px;
    font-size: 18px;
}

.c6 {
    background-color: darkblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 73vh;


}

.c6 div {
    width: 22%;
    height: 20vh;
    margin: 300px 100px;
}

.c6 div h2 {
    color: white;
    width: 200px;
    font-size: 30px;
    font-weight: bolder;
    margin-right: 20px;
    margin-bottom: 20px;
}

.c6 div p {
    color: #888;
    width: 246px;
    position: relative;
    margin-bottom: 15px;
    top: 3%;
    line-height: 20px;
}

.c6 .f2 a {
    color: #888;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

.c6 .f3 .f555 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 5px;
    margin-left: 0px;
}
.c6 .f2 a:hover{
    color: blue;
}

.c6 .f4 h4 {
    margin-bottom: 5px;
    font-size: 15px;
    color: white;
    width: 150px;
}

.c6 .f4 h4 i {
    color: white;
    font-size: 20px;
    border-radius: 50%;
    background-color: blue;
    padding: 7px;
}

.c7 {
    background-color: rgb(10, 10, 151);
    height: 7vh;
}

.c7 p {
    color: white;
    margin-left: 250px;
}

.c7 p span {
    color: yellowgreen;
}
.c7 p span:hover{
    color: red;
}